.header{
   
    padding: 20px;
    text-align: center;
    color: var(--bonita-red);
    background-image:url('../Images/pk5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.header h1{
    font-size: 36px;
    padding: 6px 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
   
}
.navbar{
    background-color: var(--bg-color);
    overflow: hidden;
    text-align: center;
    display:flex;
    float: none;
    text-decoration: none;
    padding: 16px 16px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

}
ul li{
    display: inline-block;
    margin-left: 60px;
    font-size: 18px;
}
ul li a{
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    transition: all 0.3s ease;
    
}
ul li a:hover{
    background-color:var(--bonita-red);
    color: var(--bg-color);
    border-radius: 4px;
}
.content{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--bg-color);

}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: times new roman;
    transition: background-color 0.3s ease, color 0.3s ease;
    opacity: none;
}
html{
 scroll-behavior: smooth;
}
/* Dark mode styles */
:root {
    --bg-color: #ffffff;
    --text-color: rgb(3, 3, 3);
    --h1-bg: rgba(255, 255, 255, 0.9); 
    --bonita-red: #b30000;
}

[data-theme="dark"] {
    --bg-color: #333;
    --text-color:#fffbfb;
    --h1-bg: rgba(0, 0, 0, 0.9);
    --bonita-red: #b30000;
}
.footer{
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: none;
}
#theme-toggle {
    background: none;
    border-radius: 50%;
    padding: 0;
    
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
