.header{
    background-color: #e7249d;
    padding: 20px;
    text-align: center;
    color: rgb(3, 3, 3);
}
.header h1{
    font-size: 36px;
   
}
.navbar{
    background-color: #f2f2f2;;
    overflow: hidden;
    text-align: center;
    display:block;
    float: none;
    text-decoration: none;
    padding: 16px 16px;
    grid-row: 1 / 2;
    grid-column: 4/ 2;
}